<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString = "Server=STM-PC-27;Database=SafeReturn;Trusted_Connection=True;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms">
			<forms loginUrl="default.aspx" 
						 name=".ASPXFORMSAUTH"
						 defaultUrl="home.aspx"
             slidingExpiration="true"
             timeout="60">
			</forms>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<sessionState
			timeout="70">
		</sessionState>
  </system.web>

	<location path="Styles">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
  
  <location path="about.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>

</configuration>